html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
  z-index: -1; /* Place it behind the content */
}

body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
}
