html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

body {
  background-image: url(https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg);
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  padding: 30px 30px 0 30px;
  overflow: hidden;
}

/* Styling for top half */
.top {
  height: 65%;
}

/* Styling for navbar and navitems */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 60px;
}

nav div div {
  font-size: 30px;
  font-weight: 800;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
}

.navbuttons {
  justify-content: end;
  gap: 10px;

}

.navbuttons button {
  width: 80px;
  height: 40px;
  background: rgb(61, 1, 129);
  border: 2px solid rgb(61, 1, 129);
  border-radius: 40px;
  font-weight: 800;
  font-size: 15px;
  color: white;
  transition: border 0.3s ease-in-out;
}

.navbuttons button:hover {
  border: 2px solid white;
}

.navbuttons button.active {
  border: 2px solid white;
}

/* Styling for location related info */
.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.error {
  height: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.location {
  display: flex;
  gap: 15px;
}

.city, .country {
  font-size: 40px;
  font-weight: 800;
}

.localTime {
  font-size: 23px;
}

/* Styling for the main content on the top half */
.container {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tempItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tempIcon {
  font-size: 30px;
}

.tempItem div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 800;
}

.tempItem span {
  font-size: 25px;
  font-weight: 800;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.condition-icon {
  font-size: 70px;
}

.temperature {
  font-size: 50px;
  font-weight: 800;
}

.condition {
  font-size: 30px;
  font-weight: 800;
}

/* Styling for bottom half */
.bottom {
  height: 35%;
}

/* Searchbar Styling */
.searchBar {
  display: block;
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 2.2rem;
  background: rgb(61, 1, 129);
  color: white;
  font-weight: 800;
  outline: none;
  border: 2px solid rgb(61, 1, 129);
  border-radius: 1.625rem;
  padding: 0 3rem 0 1rem;
  font-size: 1.1rem;
  transition: border 0.3s ease-in-out;
}

#searchQueryInput:focus {
  border: 2px solid white;
}

::placeholder {
  color: rgba(255,255,255, .6);
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

svg {
  margin-top: 3px;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* Styling for scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #023365
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(157, 214, 224, .85);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(157, 214, 224);
}