html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

body {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  padding: 30px 30px 0 30px;
  overflow: hidden;
}

/* Styling for top half */
.top {
  height: 65%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 60px;
}

nav div div {
  font-size: 30px;
  font-weight: 800;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
}

.navbuttons {
  justify-content: end;
  gap: 10px;

}

.navbuttons button {
  width: 80px;
  height: 40px;
  background: rgb(61, 1, 129);
  border: 2px solid rgb(61, 1, 129);
  border-radius: 40px;
  font-weight: 800;
  font-size: 15px;
  color: white;
  transition: border 0.3s ease-in-out;
}

.navbuttons button:hover {
  border: 2px solid white;
}

.navbuttons button.active {
  border: 2px solid white;
}

/* Styling for bottom half */
.bottom {
  height: 35%;
}

/* Searchbar Styling */
.searchBar {
  display: block;
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 2.2rem;
  background: rgb(61, 1, 129);
  color: white;
  font-weight: 800;
  outline: none;
  border: 2px solid rgb(61, 1, 129);
  border-radius: 1.625rem;
  padding: 0 3rem 0 1rem;
  font-size: 1.1rem;
  transition: border 0.3s ease-in-out;
}

#searchQueryInput:focus {
  border: 2px solid white;
}

::placeholder {
  color: rgba(255,255,255, .6);
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

svg {
  margin-top: 3px;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* Styling for scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #785095;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(71, 0, 153, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 0, 153, 0.9)
}